// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #4c566a; // #{"@theme_fg_color"};
$bg-color: #3b4252;  // #{"@theme_bg_color"};

$err-color: #FAAB78;

$wifi-color: #FAAB78;
$bluetooth-color: #0083fc;
$volume-color: #5C8984;
$mic-color: #B5B682;
$power-color: #A86464;
$power-reboot-color: #A0C49D;
$power-lock-color: #8294C4;
$power-logout-color: #FFD966;
$brightness-color: #F49D1A;

$unused-workspaces: #5e81ac;
$used-workspaces: $wifi-color;
$active-workspaces: $bluetooth-color;

$temperature-color: #ffd6a5;
$rain-color: #90dbf4;

$day-color: #fb6f92;
$date-color: #a2d2ff;

$cpu-color: #5aa9e6;
$memory-color: #cce8cc;
$disk-color: #fec89a;

* {
    all: unset;
    transition: 200ms ease-out;
}

window.Bar {
    background: transparent;
    // color: $fg-color;
    font-weight: bold;
    padding: 1rem 3rem 0rem 3rem;

    >centerbox {
        background: transparent;
        border-radius: 10px;
        margin: 10px 50px;
    }

    button {
        border-radius: 1rem;
        margin: 2px;
    }

    .clock {
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 2rem;
    }
}

.bg {
    background-color: $bg-color;
}

.fg {
    background-color: $fg-color;
}

.icon {
    border-radius: 1000px;
    padding: 0.3rem;
    font-size: 1rem;
}

.icon:hover {
    background-color: $bg-color;
}

.hover-fg:hover {
    background-color: $fg-color;
}

.hover-bg:hover {
    background-color: $bg-color;
}

.Workspaces {
    background-color: rgba($fg-color, 0.8);
    border-radius: 100px;
    padding: 0.5rem;
    
    .workspace {
        border-radius: 100px;
        background-color: $unused-workspaces;

        padding: 0.5rem;
        border: none;
        font-size: 1rem;
    }
    
    .workspace-used {
        background-color: $used-workspaces;
    }
    
    .workspace-focused {
        background-color: $active-workspaces;
    }
}

.Power {
    padding: 0.5rem;

    >button {
        padding: 0.5rem;
        background-color: $power-color;
        border-radius: 10000px;
        margin: 4px 10px;
    }
}

.SystemTray {
    border: none;
    background-color: rgba($fg-color, 0.8);
    border-radius: 100px;
    padding: 0.5rem;

    .network {
    }

    .network-connected {
        background-color: $wifi-color;
    }

    .network-connected:hover {
        filter: brightness(90%);
    }

    .bluetooth {
    }

    .bluetooth-enabled {
        background-color: $bluetooth-color;
    }

    .network-enabled:hover {
        filter: brightness(90%);
    }

    .audio {
    }

    .audio-enabled {
        background-color: $volume-color;
    }

    .battery {
    }

    .battery-charging {
        background-color: $power-logout-color
    }
}

.SystemMenu {
    .settings {
        border: none;
        background-color: $bg-color;
        border-radius: 10px;
        padding: 20px;

        .header {
            padding: 0.8rem;
            background-color: $fg-color;
            border-radius: 10px;
        }

        .pill {
            border-radius: 10px;
            background-color: $fg-color;
    
            >box {
                padding: 0.5rem;
    
                >label {
                    // font-size: 0.5rem;
                }
            }
        }

        .clickable:hover {
            filter: brightness(90%);
        }
    
        .sliders {
            .sliderbox {
                background-color: $fg-color;
                padding: 0.5rem;
                border-radius: 10px;

                trough {
                    background-color: $bg-color;
                }

                popover {
                    background-color: $bg-color;
                    border-radius: 10px;
                    padding: 0.5rem;

                    box {
                        border-radius: 10px;
                        padding: 0.2rem;
                    }
                    
                    box:hover {
                        background-color: $fg-color;
                    }

                    .selected {
                        background-color: $fg-color;
                    }
                }
            }

            .brightness {
                highlight {
                    background-color: $brightness-color;
                }
            }

            .audio {
                highlight {
                    background-color: $volume-color;
                }
            }

            .mic {
                highlight {
                    background-color: $mic-color;
                }
            }

            .disabled {
                filter: brightness(80%);
            }
        }
    }

    .notifications {

        .header {
            font-weight: bold;
            
            >label {
                font-size: 1.5rem;
            }

            .clear-button {
                border-radius: 10px;
                background-color: $fg-color;
                padding: 1rem;
            }
        }

        .notification {
            border-radius: 10px;
            padding: 1rem;
            background-color: $bg-color;

            .header {
                .summary {
                    font-style: italic;
                }
            }
    
            .body {
                font-size: 1.2rem;
            }
        }
    }

}

scale {
    margin: 0;
    padding: 0;
    trough {
      border-radius: 10px;
      background-color: $fg-color;
      highlight {
        // background-color: $brightness-color;
        min-height: 15px;
        // min-width: 25px;
        border-radius: 10px;
      }
      slider {
        box-shadow: none;
        outline: unset;
        background-color: transparent;
      }
    }
  }