// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #4c566a; // #{"@theme_fg_color"};
$bg-color: #3b4252;  // #{"@theme_bg_color"};
$bg2-color: #1A1B26;

$err-color: #FAAB78;

$wifi-color: #FAAB78;
$bluetooth-color: #0083fc;
$volume-color: #5C8984;
$mic-color: #B5B682;
$power-color: #A86464;
$power-reboot-color: #A0C49D;
$power-lock-color: #8294C4;
$power-logout-color: #FFD966;
$brightness-color: #F49D1A;

$unused-workspaces: #5e81ac;
$used-workspaces: $wifi-color;
$active-workspaces: $bluetooth-color;

$temperature-color: #ffd6a5;
$rain-color: #90dbf4;

$day-color: #fb6f92;
$date-color: #a2d2ff;

$cpu-color: #5aa9e6;
$memory-color: #cce8cc;
$disk-color: #fec89a;

$selected-color: #db4b4b;
$border-color: #9ece6a;

// background:			rgba(0, 0, 0, 0.3);
// bordercolor:                     rgba(0,43,54,0);
// separatorcolor:                  rgba(0,0,0,0);
// normal-background:               rgba(253,246,227,0);
// normal-foreground:               #ffffff;
// //alternate-normal-foreground:     rgba(255,0,0,0.22745098039215686);
// selected-normal-background:      rgba(196,171,28,0);
// selected-normal-foreground:      #f2c01c;
// active-background:               rgba(253,246,227,0/*.5137254901960784*/);
// active-foreground:               rgba(255, 255, 255, 1);
// //alternate-active-background:     rgba(255,77,79,0.35294117647058826);
// selected-active-background:      rgba(38,139,210,0);
// selected-active-foreground:      #ffbb00;
// urgent-background:               rgba(253,246,227,0);
// urgent-foreground:               #dc322f;
// alternate-urgent-background:     @urgent-background;//rgba(238,232,213,0);
// selected-urgent-background:      rgba(220,50,47,0);
// selected-urgent-foreground:      #ff0004;
// alternate-normal-foreground:     @normal-foreground;
// alternate-urgent-foreground:     @urgent-foreground;
// alternate-active-foreground:     @active-foreground;
// alternative-active-background:   @active-background;
// foreground:                      @normal-foreground;

// background: #1A1B26;
// background-alt: argb:00202124;
// background-bar: #C0CAF5;
// foreground: #c0caf5;
// foreground-alt: #a9b1d6;
// accent: #44475a;
// border: #9ece6a;
// selected: #292E42;
// red: #db4b4b;

* {
    all: unset;
    transition: 200ms ease-out;
}

window.Bar {
    background: transparent;
    // color: $fg-color;
    font-weight: bold;
    padding: 1rem 3rem 0rem 3rem;

    >centerbox {
        background: transparent;
        border-radius: 10px;
        margin: 10px 50px;
    }

    button {
        border-radius: 1rem;
        margin: 2px;
    }

    .clock {
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 2rem;
    }
}

.bg {
    background-color: $bg-color;
}

.fg {
    background-color: $fg-color;
}

.icon {
    border-radius: 1000px;
    padding: 0.3rem;
    font-size: 1rem;
}

.icon:hover {
    background-color: $bg-color;
}

.hover-fg:hover {
    background-color: $fg-color;
}

.hover-bg:hover {
    background-color: $bg-color;
}

.Workspaces {
    background-color: rgba($fg-color, 0.8);
    border-radius: 100px;
    padding: 0.5rem;
    
    .workspace {
        border-radius: 100px;
        background-color: $unused-workspaces;

        padding: 0.5rem;
        border: none;
        font-size: 1rem;
    }

    .workspace:hover {
        filter: brightness(90%);
    }
    
    .workspace-used {
        background-color: $used-workspaces;
    }
    
    .workspace-focused {
        background-color: $active-workspaces;
    }
}

.PowerButton {
    padding: 0.5rem;

    >button {
        padding: 0.5rem;
        background-color: $power-color;
        border-radius: 10000px;
        margin: 4px 10px;
    }

    .icon:hover {
        background-color: $power-color;
        filter: brightness(90%);
    }
}

.Power {
    
    >box {
        padding: 1rem;
        // margin: 40rem 40rem;
        // margin: 40rem 50rem;
        border-radius: 10px;
        background-color: rgba($bg-color, 0.9);

        >button {
            border-radius: 10px;
            font-size: 1.5rem;
        }

        >button:hover {
            filter: brightness(90%);
            // font-size: 3rem;
        }

        .shutdown {
            background-color: $power-color;
        }

        .reboot {
            background-color: $power-reboot-color;
        }

        .lock {
            background-color: $power-lock-color;
        }

        .logout {
            background-color: $power-logout-color;
        }
    }
}

.SystemTray {
    border: none;
    background-color: rgba($fg-color, 0.8);
    border-radius: 100px;
    padding: 0.5rem;

    .network {
    }

    .network-connected {
        background-color: $wifi-color;
    }

    .network-connected:hover {
        filter: brightness(90%);
    }

    .bluetooth {
    }

    .bluetooth-enabled {
        background-color: $bluetooth-color;
    }

    .network-enabled:hover {
        filter: brightness(90%);
    }

    .audio {
    }

    .audio-enabled {
        background-color: $volume-color;
    }

    .battery {
    }

    .battery-charging {
        background-color: $power-logout-color
    }
}

.SystemMenu {
    .settings {
        border: none;
        background-color: $bg-color;
        border-radius: 10px;
        padding: 20px;

        .header {
            padding: 0.8rem;
            background-color: $fg-color;
            border-radius: 10px;
        }

        .pill {
            border-radius: 10px;
            background-color: $fg-color;
    
            >box {
                padding: 0.5rem;
    
                >label {
                    // font-size: 0.5rem;
                }
            }
        }

        .clickable:hover {
            filter: brightness(90%);
        }
    
        .sliders {
            .sliderbox {
                background-color: $fg-color;
                padding: 0.5rem;
                border-radius: 10px;

                trough {
                    background-color: $bg-color;
                }

                popover {
                    background-color: $bg-color;
                    border-radius: 10px;
                    padding: 0.5rem;

                    .menu-item {
                        border-radius: 10px;
                        padding: 0.2rem;
                    }
                    
                    .menu-item:hover {
                        background-color: $fg-color;
                    }

                    .selected {
                        background-color: $fg-color;
                    }
                }
            }

            .brightness {
                highlight {
                    background-color: $brightness-color;
                }
            }

            .audio {
                highlight {
                    background-color: $volume-color;
                }
            }

            .mic {
                highlight {
                    background-color: $mic-color;
                }
            }

            .disabled {
                filter: brightness(80%);
            }
        }
    }

    .notifications {

        .header {
            font-weight: bold;
            
            >label {
                font-size: 1.5rem;
            }

            .clear-button {
                border-radius: 10px;
                background-color: $fg-color;
                padding: 1rem;
            }

            .clear-button:hover {
                background-color: $bg-color;
            }
        }
    }    
}

.notification {
    border-radius: 10px;
    padding: 1rem;
    background-color: $bg-color;

    .header {
        .summary {
            font-style: italic;
        }
    }

    .body {
        font-size: 1.2rem;
    }
}

.MediaPlayer {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), $bg-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    border-radius: 10px;
    padding: 1rem;

    .description {
        .title {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .artist {
        }
    }

    .controls {
        .playback, .player-selection {
            >button {
                padding: 0.3rem;
                border-radius: 1000px;
            }
    
            >button:hover {
                filter: brightness(60%);
            }

            .disabled {
                color: $fg-color
            }
        }
    
        .slider {
            margin: 0 1rem;
    
            trough {
                background-color: rgba($fg-color, 0.8); 
            }
            highlight {
                min-height: 5px;
                background-color: white;
            }
        }
    }
}

.Weather {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    border-radius: 10px;
    padding: 1rem;

    .temperature {
        font-weight: bold;
        font-size: 1.6rem;
    }

    .copyright:hover {
        text-decoration: underline;
    }
}

.PushNotification {
    .countdown {
        min-height: 5px;

        trough {
            background-color: transparent;
        }
    }
}

.AppLauncher {
    >box {
        padding: 2rem;
        border-radius: 10px;
        background-color: $bg2-color;

        .search-box {
            font-size: 1.4rem;

            .search-icon {
                padding: 1rem;
                background-color: $cpu-color;
                border-radius: 10px;
            }
        }


        .app {
            padding: 1rem;
            border-radius: 10px;

            label {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }

        .app:hover {
            background-color: $bg-color;
        }

        .app:focus {
            background-color: $selected-color;
        }
    }
}

.Desktop {
    padding: 10rem;
}

.Metrics {
    .gauge {
        min-height: 5px;
    }

    .memory {
        .filled {
            background-color: $memory-color;
        }
    }

    .cpu {
        .filled {
            background-color: $cpu-color;
        }
    }

    .disk {
        .filled {
            background-color: $disk-color;
        }
    }

    label {
        font-size: 0.75rem;
    }
}

scale {
    margin: 0;
    padding: 0;
    trough {
        border-radius: 10px;
        background-color: $fg-color;
        highlight {
            // background-color: $brightness-color;
            min-height: 15px;
            // min-width: 25px;
            border-radius: 10px;
        }
        slider {
            box-shadow: none;
            outline: unset;
            background-color: transparent;
        }
    }
}

levelbar {
    margin: 0;
    padding: 0;
    min-height: 15px;
    trough {
        border-radius: 10px;
        background-color: $fg-color;

        .filled {
            background-color: white;
            border-radius: 10px;
        }
    }
}